.icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

.icon-large {
  @extend .icon;
  width: 48px;
  height: 48px;
  // background-size: 48px;
}

.icon-medium {
  @extend .icon;
  width: 24px;
  height: 24px;
  // background-size: 48px;
}

.icon-small {
  @extend .icon;
  width: 12px;
  height: 12px;
  background-size: 12px;
}

.icon-16 {
  @extend .icon;
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.icon-loading {
  @extend .icon;
  background-image: url(../assets/icons/ic-loading.svg);
}
